<?xml version="1.0" encoding="UTF-8"?>
<!--
    Config file for YSimulator. All times are expressed as msecs.
    Attributes: view - one of workitem, resource or process
                instances - number of instances to run
                interval - how long to pause between each case start (ms)
-->
<simulation view="process" instances="40" interval="1000"> <!-- 40 goals will be sent to built repository -->

    <!-- host name, e.g. example.com, defaults to localhost -->
    <host>localhost</host>

    <!-- id of spec to use - MUST already be loaded in the engine -->
    <specification>
        <id>UID_ea1eb7de-529f-47bf-9eb7-8c2ed12b9fac</id>
        <version>0.1</version>
        <name>LogInformationSimulation</name>
    </specification>

    <!-- all the tasks of the spec -->
    <tasks>

        <!-- Attribute id: task name -->
        <task id="Log Information">
        	<resource userId="user1" time="1000"/>
        </task>
    </tasks>
    <limits default="15000">
        <resource userId="user1" limit="-1"/>
    </limits>
</simulation>